In [ ]:
# Install necessary Python libraries
! pip install requests
! pip install beautifulsoup4
import requests
from bs4 import BeautifulSoup
from google.colab import files

Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests) (2020.4.5.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Upload all stocks
uploaded = files.upload()

Saving BA870 Project Data 2020.csv to BA870 Project Data 2020.csv

In [ ]:
df = pd.read_csv('BA870 Project Data 2020.csv')
df.head()

    tic                  conm_x  ...   PERMCO     CUSIP
0     A    Agilent Technologies  ...  36364.0  00846U10
1   AAL    American Airlines Gp  ...  20010.0  02376R10
2  AAON                Aaon Inc  ...  10817.0     36020
3   AAP  Advance Auto Parts Inc  ...  42402.0  00751Y10
4  AAPL               Apple Inc  ...      7.0   3783310

[5 rows x 31 columns]

In [ ]:
table = df[['Ticker','YTD Ret']]
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1361 entries, 0 to 1360
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ticker   1361 non-null   object
 1   YTD Ret  1361 non-null   float64
dtypes: float64(1), object(1)
memory usage: 21.4+ KB

In [ ]:
ticker = df['tic']
ticker = ticker.to_numpy()
ticker

array(['A', 'AAL', 'AAON', ..., 'ZNGA', 'ZS', 'ZTS'], dtype=object)

In [ ]:
data = []
for i in ticker:
  url ='https://finance.yahoo.com/quote/'+i+'/profile' 
  page =requests.get(url)
  htmldata = BeautifulSoup(page.content, 'html.parser')
  description = htmldata.find('p',{'class':'Mt(15px) Lh(1.6)'})
  data.append(description)

In [ ]:
len(data)

1361

In [ ]:
table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4083 entries, 0 to 1360
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   0        2704 non-null   object
 1   Ticker   1361 non-null   object
 2   YTD Ret  1361 non-null   float64
dtypes: float64(1), object(2)
memory usage: 207.6+ KB

In [ ]:
data = pd.DataFrame(data)
YRD = df['YTD Ret']
table= pd.concat([table,data],axis=1)
table.rename({3: "Description"},axis='columns')

     Ticker  ...                                                  0
0         A  ...  [Agilent Technologies, Inc. provides applicati...
1       AAL  ...  [American Airlines Group Inc., through its sub...
2      AAON  ...  [AAON, Inc., together with its subsidiaries, e...
3       AAP  ...  [Advance Auto Parts, Inc. provides automotive ...
4      AAPL  ...  [Apple Inc. designs, manufactures, and markets...
...     ...  ...                                                ...
1356   ZLAB  ...  [Zai Lab Limited, a biopharmaceutical company,...
1357     ZM  ...  [Zoom Video Communications, Inc. provides a vi...
1358   ZNGA  ...  [Zynga Inc. develops, markets, and operates so...
1359     ZS  ...  [Zscaler, Inc. operates as a cloud security co...
1360    ZTS  ...  [Zoetis Inc. discovers, develops, manufactures...

[1361 rows x 10 columns]